<html>
  <head>
  </head>
  <body>
    <% if taobao_session.nil? -%>
      <%= taobao_auth_link("Login via Taobao") %>

      <a href='http://wiki.open.taobao.com/index.php/WEB淘宝插件平台插件开发'>
        Check this for how to login with Taobao
      </a>
    <% else -%>
      <h1>Welcome <%= @user[0].nick %></h1>
      <ul>
        <li>Your shop: <%= @shop[0].title %></li>
      </ul>
      <h2>Your products <%= @products.size %></h2>
      <ul>
        <% for product in @products -%>
          <li><%= product.name %> <%= product.pic_path %></li>
       <% end -%>
     </ul>
    <% end -%>
  </body>
</html>
